body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "nav header"
    "nav   main"
    "nav footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 130px 1fr;
}

header{
    grid-area: header;
    background-color: darkkhaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

main{
    background-color: slategrey;
    display: grid;
    grid-template-areas: "article aside";
    grid-template-columns: 1fr 130px;
}

footer{
    grid-area: footer;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav{
    grid-area: nav;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

article{
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

aside{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

li{
    background-color: rgb(21, 74, 128);
    width: 100px;
    height: 100px;
    list-style: none;
}