body{
    height: 100vh;
    display: grid;
    grid-template-rows: 130px 1fr 130px;
}
header{
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

main{
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 2rem;
}

footer{
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 200px;
    font-size: 2rem;
}

li{
    background-color: rgb(21, 74, 128);
    width: 100px;
    height: 100px;
    list-style: none;
}
